@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin: 10px;
}

footer{
    padding: 24px, 0px, 24px, 0px;
    position: fixed;
    bottom: 5px;
    left: 10px;
    font-family: 'Roboto';
}
div{
    justify-content: center;
}
img{
    height: 200px;
    width: 200px
}

nav{
    border-bottom: 1px solid black;
    padding: 16px
}

a:hover {
    color: green
}

a{
    text-decoration: none;
}
